/* Estilos Básicos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #b7d9fc;
    color: #1f205c;
    transition: background-color 0.3s, color 0.3s;
}

header {
    background-color: #195372;
    color: rgb(252, 252, 252);
    padding: 20px;
    text-align: center;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1.2em;
}

.toggle-btn {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.toggle-btn input[type="checkbox"] {
    display: none;
}

/* Secciones */
section {
    padding: 50px;
    text-align: center;
}

h2 {
    color: #00293f;
}

p1 {
    color: #ffffff;
}
.proyectos-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.project-card {
    width: 30%;
    background: #195372;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project-card img {
    width: 100%;
    border-radius: 8px;
}

.project-card h3 {
    color: rgb(9, 0, 59);
    margin-top: 10px;
}
/* Contenedor de tema */
.theme-container {
    position: relative;
    width: 100%;
}


