/* Estilos Básicos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #b7d9fc;
    color: #1f205c;
    transition: background-color 0.3s, color 0.3s;
}
.dark-mode {
    background-color: rgb(3, 0, 34);
    color: white;
}
.dark-mode button {
    background-color: rgb(7, 0, 39);
    color: rgb(255, 255, 255);
}
.dark-mode header {
    background-color: #1d1b8f;
}
.dark-mode .project-card {
    background: #1d1b8f;
    color: #000000;
}
.dark-mode a {
    color: #ffffff;
}
.dark-mode h2 {
    color: #acb9ff;
}
header {
    background-color: #195372;
    color: rgb(252, 252, 252);
    padding: 20px;
    text-align: center;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1.2em;
}

.toggle-btn {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.toggle-btn input[type="checkbox"] {
    display: none;
}

/* Secciones */
section {
    padding: 50px;
    text-align: center;
}

h2 {
    color: #00293f;
}

p1 {
    color: #ffffff;
}
.proyectos-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.project-card {
    width: 30%;
    background: #195372;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project-card img {
    width: 100%;
    border-radius: 8px;
}

.project-card h3 {
    color: rgb(9, 0, 59);
    margin-top: 10px;
}
/* Contenedor de tema */
.theme-container {
    position: relative;
    width: 100%;
}
.dark-mode-toggle {
    margin: 20px;
    padding: 12px 24px;
    cursor: pointer;
    background-color: #4da8da;
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 1em;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.dark-mode-toggle:hover {
    background-color: #3691c4;
    transform: scale(1.05);
}
.dark-mode .dark-mode-toggle {
    background-color: #80cfff;
    color: #333;
}
.dark-mode .dark-mode-toggle:hover {
    background-color: #5ab9ea;
}